
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
:focus {
    outline: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%
    -ms-text-size-adjust: 100%;
}
a:focus {
    outline: thin dotted;
}
a:active,
a:hover {
    outline: 0;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}
figure {
    margin: 0;
}
form {
    margin: 0;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;  
    padding: 0;
    white-space: normal;  
    *margin-left: -7px; 
}
button,
input,
select,
textarea {
    font-size: 100%;  
    margin: 0; 
    vertical-align: baseline;  
    *vertical-align: middle;  
}
button,
input {
    line-height: normal;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],  
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;  
    cursor: pointer;  
    *overflow: visible;  
}
button[disabled],
html input[disabled] {
    cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;   
    padding: 0;  
    *height: 13px;  
    *width: 13px;  
}
input[type="search"] {
    -webkit-appearance: textfield; 
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; 
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto; 
    vertical-align: top; 
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
img {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/*RESET CSS*/

.title {
    color: #000000;
    font-family: "Proxima Nova";
    font-weight: 700;
}
.size--m {
    padding-top: 55px;
    padding-bottom: 35px;
    font-size: 36px;
    line-height: 36px;
}
.size--s {
    font-size: 24px;
    margin-bottom: 13px;
}
.size--xs {
    margin-top: 59px;
    margin-bottom: 39px;
    font-size: 24px;
}
.content {
    max-width: 1920px;
    background-color: #f4f4f4;
    background-image: url(img/list1.svg);
}
.wrapper {
    text-align: center;
    max-width: 1060px;
    margin: 0 auto;
}
.wrapper__content {
    margin: 0 150px;
    border: 1px dashed #5ec21a;
}
.wrapper__content .info {
    margin: 34px 100px;
    height: 112px;
    box-shadow: 3px 4px 16px rgba(0, 0, 0, 0.22);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    text-align: left;
}
.notification {
    color: #4c4c4c;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}
.content__notification {
    width: 100%;
    margin-left: 35px;
}
.content__info {
    margin-left: 45px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.name {
    margin-top: 15px;
}
.phone {
    margin-bottom: 15px;
}
.style--text {
    color: #4c4c4c;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
}
.description {
    text-align: left;
    margin-left: 98px;
}
.subtitle {
    color: #000000;
    font-family: "Proxima Nova";
}
.size--m-sub {
    margin-bottom: 22px;
    font-size: 14px;
    font-weight: 700;
}
.size--s-sub {
    font-size: 16px;
    font-weight: 400;
}
.data::placeholder {
    color: #7a7977;
    font-family: "Arial MT";
    font-size: 14px;
    font-weight: 400;
    line-height: 23.26px;
}
.data {
    margin-right: 15px;
    width: 273px;
    height: 47px;
    border-radius: 5px;
    background-color: #ffffff;
    border: none;
    padding-left: 15px;
}
.form {
    margin-left: 98px;
    display: flex;
    margin-bottom: 39px;
}
.button {
    width: 236px;
    height: 47px;
    border-radius: 5px;
    background: linear-gradient(to top,#08ad00 20%, #0cff00 80%);
    color: #ffffff;
    font-family: "Arial - Black";
    font-size: 12px;
    font-weight: 400;
    line-height: 23.26px;
    text-transform: uppercase;
    
}
.material {
    display: flex;
    justify-content: center;
}
.material__block {
    height: 100%;
    width: 257px;
    margin-right: 151px;
}
.material__block:last-child {
    margin-right: 0;
}
.back {
    position: relative;
    margin-left: 25px;
    margin-top: 16px;
    margin-bottom: 22px;
    width: 177px;
    height: 177px;
    background-color: #5ec21a;
    border-radius: 50%;
}
.picture {
    position: absolute;
}
.left {
    top: 7px;
    left: 27px;
}
.right {
    top: 6px;
    left: 7px;
}
.center {
    top: 33px;
    left: -19px;
}
.subscrip {
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 16px;
    text-align: left;
}
.subscription {
    text-align: left;
    width: 100%;
    margin-left: 16px;
}
.element {
    margin-top: 10px;
    margin-bottom: 31px;
    width: 246px;
    border-top: 1px dashed #5ec21a;
}
.margin--button {
    margin-bottom: 60px;
}